<h2>TODO List</h2>
<ul>
    <li>
        Embed LeafletJS into the map page with OOB sample data
    </li>
    <li>
        Change sample data to use fake data custom to NYC
    </li>
    <li>
        Replace fake data and reference the backend API for data
    </li>
    <li>
        Allow filtering by
        <ul>
            <li>
                Pickup points only
            </li>
            <li>
                Dropoff points only
            </li>
            <li>
                Trips shorter/longer than "x" distance
            </li>
            <li>
                Trips shorter/longer than "x" minutes
            </li>
            <li>
                Trips with fare amounts greater/less than "x"
            </li>
            <li>
                Add an upload data page to load the CSV from the front-end
            </li>
        </ul>
    </li>
</ul>
